{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>8Т</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'main/' %}img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'main/' %}css/bootstrapp.min.css">
    <link rel="stylesheet" href="{% static 'main/' %}css/owl.carousel.min.css">
    <link rel="stylesheet" href="{% static 'main/' %}{% static 'main/' %}css/magnific-popup.css">
    <link rel="stylesheet" href="{% static 'main/' %}css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'main/' %}css/themify-icons.css">
    <link rel="stylesheet" href="{% static 'main/' %}css/nice-select.css">
    <link rel="stylesheet" href="{% static 'main/' %}css/flaticon.css">
    <link rel="stylesheet" href="{% static 'main/' %}css/animatee.css">
    <link rel="stylesheet" href="{% static 'main/' %}css/slicknav.css">
    <link rel="stylesheet" href="{% static 'main/' %}css/stylee.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center justify-content-between no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="{% url 'index' %}">
                                    <img src="{% static 'main/' %}img/.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{% url 'index' %}">Главная</a></li>
                                        <li><a href="{% url 'mission' %}">Наша миссия</a></li>
                                        <li><a href="{% url 'Courses:courses' %}">Курсы</a></li>

                                        <!-- <li><a href="#">blog <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="single-blog.html">single-blog</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">pages <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="causes-details.html">causes-details</a></li>
                                                <li><a href="elements.html">elements</a></li>
                                            </ul>
                                        </li> -->
                                        <li><a class="active" href="{% url 'contact' %}">Наши контакты</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="donate_now">
                                <a href="{% url 'Discussion_Forum:posts' %}" class="boxed-btn">Перейти на наш форум</a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- breadcam_area_start -->
    <div class="breadcam_area bradcam_bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcam_text">
                        <h3>Наши контакты</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcam_area_end -->

    <!-- ================ contact section start ================= -->
    <section class="contact-section">
            <div class="container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2906.955954935271!2d76.83136323076954!3d43.23138310258791!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x388369dbda10e0c7%3A0x8b08290f8c09fd26!2z0JbQmiAi0KPRiCDQodGD0L3QutCw0YAi!5e0!3m2!1sru!2skz!4v1612864784937!5m2!1sru!2skz" width="1100" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="mapsg"></iframe>
                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title">Связаться с нами</h2>
                    </div>
                    <div class="col-lg-8">
                        <form class="form-contact contact_form" action="{% url 'call' %}" method="POST" >
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control w-100" name="text" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder=" Введите текст"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Введите имя">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email">
                                    </div>
                                </div>

                            </div>
                            <div class="form-group mt-3">
                                <button type="submit"   class="button button-contactForm boxed-btn">Отправить</button>
                            </div>

                        </form>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h3>Скоро.</h3>
                                <p>Скоро</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>Скоро</h3>
                                <p>Скоро</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-email"></i></span>
                            <div class="media-body">
                                <h3>Скоро</h3>
                                <p>Скоро</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- ================ contact section end ================= -->

    <!-- footer_start -->
    <footer class="footer">
            <div class="copy-right_text">
                <div class="container">
                    <div class="footer_border"></div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="copy_right text-center">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer_end -->

        <!-- JS here -->
        <script src="{% static 'main/' %}js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="{% static 'main/' %}js/vendor/jquery-1.12.4.min.js"></script>
        <script src="{% static 'main/' %}js/popper.min.js"></script>
        <script src="{% static 'main/' %}js/bootstrap.min.js"></script>
        <script src="{% static 'main/' %}js/owl.carousel.min.js"></script>
        <script src="{% static 'main/' %}js/isotope.pkgd.min.js"></script>
        <script src="{% static 'main/' %}js/ajax-form.js"></script>
        <script src="{% static 'main/' %}js/waypoints.min.js"></script>
        <script src="{% static 'main/' %}js/jquery.counterup.min.js"></script>
        <script src="{% static 'main/' %}js/imagesloaded.pkgd.min.js"></script>
        <script src="{% static 'main/' %}js/scrollIt.js"></script>
        <script src="{% static 'main/' %}js/jquery.scrollUp.min.js"></script>
        <script src="{% static 'main/' %}js/wow.min.js"></script>
        <script src="{% static 'main/' %}js/nice-select.min.js"></script>
        <script src="{% static 'main/' %}js/jquery.slicknav.min.js"></script>
        <script src="{% static 'main/' %}js/jquery.magnific-popup.min.js"></script>
        <script src="{% static 'main/' %}js/plugins.js"></script>

        <!--contact js-->
        <script src="{% static 'main/' %}js/contact.js"></script>
        <script src="{% static 'main/' %}js/jquery.ajaxchimp.min.js"></script>
        <script src="{% static 'main/' %}js/jquery.form.js"></script>
        <script src="{% static 'main/' %}js/jquery.validate.min.js"></script>
        <script src="{% static 'main/' %}js/mail-script.js"></script>

        <script src="{% static 'main/' %}js/main.js"></script>

    </body>

    </html>
