{%load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>8Т</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'main/' %}img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'main/' %}css/bootstrapp.min.css">
    <link rel="stylesheet" href="{% static 'main/' %}css/owl.carousel.min.css">
    <link rel="stylesheet" href="{% static 'main/' %}css/magnific-popup.css">
    <link rel="stylesheet" href="{% static 'main/' %}css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'main/' %}css/themify-icons.css">
    <link rel="stylesheet" href="{% static 'main/' %}css/nice-select.css">
    <link rel="stylesheet" href="{% static 'main/' %}css/flaticon.css">
    <link rel="stylesheet" href="{% static 'main/' %}css/animatee.css">
    <link rel="stylesheet" href="{% static 'main/' %}css/slicknav.css">
    <link rel="stylesheet" href="{% static 'main/' %}css/stylee.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center justify-content-between no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="index.html">
                                    <img src="{% static 'main/' %}img/logo1.png" alt="" style="max-width: 40%;">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="{% url 'index'%}">Главная</a></li>
                                        <li><a href="{% url 'mission'%}">Наша миссия</a></li>

                                        <li><a href="#">Наши направления <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="impact.html">Инновации ( IT )</a></li>
                                                <li><a href="{%url 'Courses:courses'%}">Метапознание</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="#">Франшизы <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'contact'%}">Негеш</a></li>
                                                <li><a href="{% url 'contact'%}">Раян 8Т</a></li>
                                            </ul>
                                        </li>
                                        <!--<li><a href="#">pages <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="causes-details.html">causes-details</a></li>
                                                <li><a href="elements.html">elements</a></li>
                                            </ul>
                                        </li> -->
                                        <li><a href="{% url 'contact' %}">Наши контакты</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="donate_now">
                              <a href="{% url 'Discussion_Forum:posts'%}" class="boxed-btn">Перейти на наш форум</a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area slider_bg_1 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="single_slider">
                        <div class="slider_text">
                            <h3>8T-Corporation<br>
                                </h3>
                            <p>Добро пожаловать в мир развития <br>
                                </p>
                            <a href="#" class="boxed-btn2"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- causes_area_start -->
    <div class="causes_area" style="margin-top: 0px;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-md-6">
                    <div class="causes_info">
                        <div class="section_title">
                            <span></span>
                            <h3>
                                «Перспективы развития <br>
                                инновационной деятельности в СНГ <br>
                                ПОЧЕМУ МЫ?»
                            </h3>
                        </div>
                        <p>В последнее время все чаще к числу важнейших факторов развития экономики
                            стран СНГ и всего мирового сообщества стали относить инновационную
                            деятельность, которая базируется на внедрении новых идей, научных знаний,
                            технологий и видов продукции в различные области производства и сферы
                            управления обществом.<br>
                            Сегодня происходят радикальные преобразования многоукладной экономики с
                            целью повышения конкурентоспособности - где главное значение приобретают
                            технологические трансформации – преодоление технологической деградации,
                            освоение техники современного формата, внедрение новых методик и
                            методологий.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="causes_thumb">
                        <img class="img-fluid" src="{% static 'main/'%}img/causes/25107089.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- causes_area_end -->

    <!-- about_area_start -->
    <div class="about_area gray-bg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-md-6">
                    <div class="about_thumb">
                        <img src="{% static 'main/' %}img/causes/itphoto.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="about_right">
                        <div class="section_title">
                            <span> </span>
                            <h3>
                                Именно поэтому
                            </h3>
                        </div>
                        <p>
                            Наша Корпорация 8Т – как многопрофильная
                            многофункциональная компания готова предложить своим клиентам и партнерам
                            огромное количество направлений.<br>
                            Мы компания ПОЛНОГО ЦИКЛА- все что мы делаем и выводим на
                            Международный Рынок-создано от ИДЕИ до практической реализации нашими
                            собственными специалистами.
    </p>
                        <a href="#" class="boxed_btn3">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->

    <!-- servce_area_start -->
    <div class="servce_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-60">
                        <span>Декларация будущего</span>
                        <h3>
                            «8Т Corporation»
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_serve text-center">
                        <i class="fa fa-graduation-cap" aria-hidden="true" style="font-size: 60px; color: #034e7d;"></i>
                        <h3>Таным-Тағылым</h3>
                        <p>Позна́ние, обучение - совокупность процессов, процедур и методов приобретения знаний о явлениях и закономерностях объективного мира. </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_serve text-center">
                        <i class="fa fa-history" aria-hidden="true" style="font-size: 60px; color: #034e7d;"></i>
                        <h3>Тарих-Тағзым</h3>
                        <p>История, память - обозначение комплекса познавательных способностей, относящихся к накоплению, сохранению и воспроизведению знаний. </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_serve text-center">
                        <i class="fa fa-handshake-o" aria-hidden="true" style="font-size: 60px; color: #034e7d;"></i>
                        <h3>Тәлім-Тәрбие</h3>
                        <p>Образование, воспитание - деятельность, направленная на развитие личности, создание условий для самоопределения и социализации обучающихся на основе социокультурных, духовно-нравственных ценностей. </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_serve text-center">
                        <i class="fa fa-desktop" aria-hidden="true" style="font-size: 60px; color: #034e7d;"></i>
                        <h3>Техника-Технология</h3>
                        <p>В широком смысле — применение научного знания для решения практических задач. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- servce_area_end -->

    <!-- help_area_start -->

    <!-- help_area_end -->

    <!-- volunteers_area_satrt -->
     <div class="volunteers_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-60">
                        <span>8T</span>
                        <h3>
                            Наша команда
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row" style="justify-content: center; margin-bottom: 50px;">

                
                <div class="col-xl-3 col-md-6">
                    <div class="single_volunteer">
                        <div class="thumb">
                            <img src="{% static 'main/' %}img/volunteers/IMG_3522.png" alt="">
                            <div class="social_links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="author_name text-center">
                            <h3>Жиенбаев Ерұлан</h3>
                            <span>Учредитель &amp; Идейный двигатель</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="single_volunteer">
                        <div class="thumb">
                            <img src="{% static 'main/' %}img/volunteers/IMG_3808.jpg" alt="">
                            <div class="social_links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="author_name text-center">
                            <h3>Ибрагимов Дильмурат</h3>
                            <span>Учредитель &amp; Генеральный директор</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="single_volunteer">
                        <div class="thumb">
                            <img src="{% static 'main/' %}img/volunteers/IMG_4070.jpg" alt="">
                            <div class="social_links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="author_name text-center">
                            <h3>Саргожаев Давлят</h3>
                            <span>Департамент юридических решений</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="single_volunteer">
                        <div class="thumb">
                            <img src="{% static 'main/' %}img/volunteers/IMG_2661.png" alt="">
                            <div class="social_links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="author_name text-center">
                            <h3>Мэлс Зейнуллович</h3>
                            <span>Скоро</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="single_volunteer">
                        <div class="thumb">
                            <img src="{% static 'main/' %}img/volunteers/.png" alt="">
                            <div class="social_links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="author_name text-center">
                            <h3>Скоро</h3>
                            <span>Скоро</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="single_volunteer">
                        <div class="thumb">
                            <img src="{% static 'main/' %}img/volunteers/.png" alt="">
                            <div class="social_links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="author_name text-center">
                            <h3>Скоро</h3>
                            <span>Скоро</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- volunteers_area_end -->

    <!-- become_volunter_start -->
    <div class="become_volunter volunter_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-md-10 offset-md-1">
                    <div class="volunter_text text-center">
                        <h3>Педагогика метапознания</h3>
                        <p>
- Метапознание есть способность выстраивать собственную мыслительную деятельность следуя определенному алгоритму процесса познания как в когнитивной, так и в аффективной сферах <br>
                            -Метапознание призвано научить учащегося управлять своей познавательной деятельностью, что является основной движущей силой процесса его развития. Оно также способствует изучению и пониманию окружающего мира в его цельности и единстве, обогащая сухой знаниевый мир разноцветными красками чувственно-эмоцианольного.</p>
                        <a class="boxed-btn4" href="#">Записаться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- become_volunter_end -->

    <!-- footer_start -->
    <footer class="footer">
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer_end -->


    <!-- JS here -->
    <script src="{% static 'main/' %}js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="{% static 'main/' %}js/vendor/jquery-1.12.4.min.js"></script>
    <script src="{% static 'main/' %}js/popper.min.js"></script>
    <script src="{% static 'main/' %}js/bootstrap.min.js"></script>
    <script src="{% static 'main/' %}js/owl.carousel.min.js"></script>
    <script src="{% static 'main/' %}js/isotope.pkgd.min.js"></script>
    <script src="{% static 'main/' %}js/ajax-form.js"></script>
    <script src="{% static 'main/' %}js/waypoints.min.js"></script>
    <script src="{% static 'main/' %}js/jquery.counterup.min.js"></script>
    <script src="{% static 'main/' %}js/imagesloaded.pkgd.min.js"></script>
    <script src="{% static 'main/' %}js/scrollIt.js"></script>
    <script src="{% static 'main/' %}js/jquery.scrollUp.min.js"></script>
    <script src="{% static 'main/' %}js/wow.min.js"></script>
    <script src="{% static 'main/' %}js/nice-select.min.js"></script>
    <script src="{% static 'main/' %}js/jquery.slicknav.min.js"></script>
    <script src="{% static 'main/' %}js/jquery.magnific-popup.min.js"></script>
    <script src="{% static 'main/' %}js/plugins.js"></script>

    <!--contact js-->
    <script src="{% static 'main/' %}js/contact.js"></script>
    <script src="{% static 'main/' %}js/jquery.ajaxchimp.min.js"></script>
    <script src="{% static 'main/' %}js/jquery.form.js"></script>
    <script src="{% static 'main/' %}js/jquery.validate.min.js"></script>
    <script src="{% static 'main/' %}js/mail-script.js"></script>

    <script src="{% static 'main/' %}js/main.js"></script>

</body>

</html>
