{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>8Т</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'main/' %}img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrapp.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/animatee.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/stylee.css' %}">
    <script src="https://kit.fontawesome.com/f1cb2cdddb.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <style>
    </style>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center justify-content-between no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="index.html">
                                    <img src="img/.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="index.html">Главная</a></li>
                                        <li><a href="about.html">Наша миссия</a></li>
                                        <li><a href="causes.html">Курсы</a></li>
                                        <li><a href="impact.html">Франшиза</a></li>

                                        <!-- <li><a href="#">blog <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="single-blog.html">single-blog</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="active" href="#">pages <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="project-details.html">project-details</a></li>
                                                <li><a href="elements.html">elements</a></li>
                                            </ul>
                                        </li> -->
                                        <li><a href="contact.html">Наши контакты</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="donate_now">
                                <a href="blog-test.html" class="boxed-btn">Перейти на наш форум</a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- breadcam_area_start -->
    <div class="breadcam_area bradcam_bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcam_text">
                        <h3>Help Yeati to continue her <br>
                            Primary Education</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcam_area_end -->

    <!-- causes_area_start -->
    <div class="causes_area causes_area2">
        <div class="container">
            <div class="row align-items-end" style="margin-top: 150px;">
                <div class="col-xl-6 col-md-6">
                    <div class="causes_info">


                        <div class="target_rais_area d-flex">

                            <div class="courses-info2" style="margin-left: 150px; margin-right: 150px; margin-bottom: 140px;">
                                <div class="course-info">
                        <div class="section_title ">
                            <h4 >{{ courses.name }}</h4>
                        </div>
                        <p>{{ courses.description }}</p>
                        </div>
                                <div style="display: flex">
                            <div class="single_raise">
                                <span>target :</span>
                                <h4>{{ courses.price }} <i class="fas fa-tenge"></i></h4>
                            </div>
                            <div class="single_raise">
                                <span>raised :</span>
                                <h4>{{ courses.hour }} <i class="far fa-clock"></i></h4>
                            </div>
                                    </div>
                                </div>
                            <div class="doante_btn">
                                <form action="{% url 'add_zayavka' %}" method="post" >
        {% csrf_token %}
  <div class="form-group">
                                    <p>Ваше ФИО: </p>
                                    <div class="input-group mb-3">

                                        <input type="text"   name = 'fio' class="form-control" placeholder='Укажите ФИО'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'ФИО'">

                                    </div>
                                    <p>Ваш ИИН:</p>
                                    <div class="input-group mb-3">

                                        <input type="text"  name = 'iin' class="form-control" placeholder='Укажите ИИН'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Укажите ИИН'">

                                    </div>
                                    <p>Ваш номер: </p>
                                    <div class="input-group mb-3">
                                        <input type="text"  name = 'number' class="form-control" placeholder='Укажите номер'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Укажите номер'">

                                    </div>
                 <p>Ваш номер: </p>
                                    <div class="input-group mb-3">
                                        <input type="email"  name = 'email' class="form-control" placeholder='Укажите email'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Укажите email'">

                                    </div>
                                    <p><select   name="language">
    <option disabled>Выберите язык обучение</option>
    <option value="RUS">RUS</option>
    <option selected value="KZ">KZ</option>

   </select></p>

      <input type="hidden" value="{{ courses.name }} " name="name">


                                </div>


<input type="submit" value="Оставить заявку">

    </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="causes_thumb">
                        {% if courses.photo.url != "" %}
<img class="img-fluid" src="{{ courses.photo.url }}" alt="">
                        {% else %}

                        {% endif %}
                        <!-- <div class="custom_progress_bar">
                            <div class="progress">
                                <div class="progress-bar wow slideInLeft" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                    <div class="value_progress">
                                        <span>60%</span>
                                    </div>
                                </div>
                              </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- causes_area_end -->

    <!-- become_volunter_start -->
    <div class="become_volunter volunter_bg_1">
    </div>
    <!-- become_volunter_end -->
    <footer class="footer">
            <div class="copy-right_text">
                <div class="container">
                    <div class="footer_border"></div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="copy_right text-center">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <!-- JS here -->
    <script src="{% static 'main/' %}js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="{% static 'main/' %}js/vendor/jquery-1.12.4.min.js"></script>
    <script src="{% static 'main/' %}js/popper.min.js"></script>
    <script src="{% static 'main/' %}js/bootstrap.min.js"></script>
    <script src="{% static 'main/' %}js/owl.carousel.min.js"></script>
    <script src="{% static 'main/' %}js/isotope.pkgd.min.js"></script>
    <script src="{% static 'main/' %}js/ajax-form.js"></script>
    <script src="{% static 'main/' %}js/waypoints.min.js"></script>
    <script src="{% static 'main/' %}js/jquery.counterup.min.js"></script>
    <script src="{% static 'main/' %}js/imagesloaded.pkgd.min.js"></script>
    <script src="{% static 'main/' %}js/scrollIt.js"></script>
    <script src="{% static 'main/' %}js/jquery.scrollUp.min.js"></script>
    <script src="{% static 'main/' %}js/wow.min.js"></script>
    <script src="{% static 'main/' %}js/nice-select.min.js"></script>
    <script src="{% static 'main/' %}js/jquery.slicknav.min.js"></script>
    <script src="{% static 'main/' %}js/jquery.magnific-popup.min.js"></script>
    <script src="{% static 'main/' %}js/plugins.js"></script>

    <!--contact js-->
    <script src="{% static 'main/' %}js/contact.js"></script>
    <script src="{% static 'main/' %}js/jquery.ajaxchimp.min.js"></script>
    <script src="{% static 'main/' %}js/jquery.form.js"></script>
    <script src="{% static 'main/' %}js/jquery.validate.min.js"></script>
    <script src="{% static 'main/' %}js/mail-script.js"></script>

    <script src="{% static 'main/' %}js/main.js"></script>

</body>

</html>